# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/hibernate.cfg.xml
/hibernate.properties
/src/main/resources/hibernate.properties